openapi: 3.0.0
x-project-id: Info Risk
info:
  title: COVERS
  description: API suite to manage covers and grades. V3 is the latest version. Use version selector for V2.
  contact:
    name: Allianz Trade API Support
    email: API@allianz-trade.com
  version: 3.17.0
servers:
- url: https://api.allianz-trade.com/riskinfo/v3
  description: Production
- url: https://api-services.uat.1placedessaisons.com/uatm/riskinfo/v3
  description: Test  
paths:
  /covers:
    post:
      summary: >-
        Submit a cover request and return a jobId.
      security:
        - ApiKeyAuth: []
      operationId: submitCoverRequest
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the job id to get the status of
            this request.
          content:
            application/json:
              schema:
                type: string
                description: The jobId response
                example: "f089dba-2f6e-44cc-939f-6fdf52e58b9a"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: only for internal. Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: Custom-Webhook
          in: header
          required: false
          description: 'The callback information to be stored by the server to call back the client when the response will be available. There are 2 types of notifications: technical and functional. The technical notification is sent when the job has been treated. The functional notification (extendedNotification) is optional (false by default) and sent when a decision has been taken. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.'
          schema:
            $ref: '#/components/schemas/ExtendedWebhook'
      requestBody:
        description: If a request comment is set, it will cause a pending response.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverRequestCoreInfo'
        required: true
      tags:
        - covers
      callbacks:
        Cover:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Cover'
                        - $ref: '#/components/schemas/Error'
                        - $ref: '#/components/schemas/CoverRequest'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /covers/{coverId}:
    get:
      tags:
        - covers
      summary: Get cover details.
      operationId: getcover
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          required: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: coverId
          in: path
          description: The cover identifier.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: |
             operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cover'
        "401":
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
    patch:
      summary: >-
        Submit a cover to update and return a jobId.
      description:
        You cannot patch a cover if the attribute coverGroup.coverGroupRoleCode is "Joint".
      security:
        - ApiKeyAuth: []
      operationId: updateCover
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the job id to get the status of
            this request.
          content:
            application/json:
              schema:
                type: string
                description: The jobId response
                example: "f089dba-2f6e-44cc-939f-6fdf52e58b9a"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: Custom-Webhook
          in: header
          required: false
          description: The callback information to be stored by the server to call back the client when the response will be available. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header.</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.
          schema:
            $ref: '#/components/schemas/Webhook'
        - name: coverId
          in: path
          description: The cover identifier
          required: true
          schema:
            type: string
      requestBody:
        description: |
         This object contains elements that can be modified and allows an amount reduction.\n
         Each field can be patched individually.\n
         You cannot patch all of them at once due to a backend restriction.\n
         You can patch at the same time ONLY the following fields: creditLimitAmount and customerCompanyReference.\n\n
         You can patch isStrategic only for: Primary / Cap / CapPlus / PreCheck.\n
         You can patch creditLimitAmount only for: Primary / Cap / CapPlus / PreCheck.\n
         You can patch currentRenewalSituation only for: GradePolicyCoverBasic/ GradePolicyCoverDeluxe / GradeCover.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdate'
        required: true
      tags:
        - covers
      callbacks:
        Cover:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Cover'
                        - $ref: '#/components/schemas/Error'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /covers/search:
    post:
      tags:
        - covers
      summary: Search for covers.
      operationId: searchCovers
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          explode: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCoverCriteria'
        required: true
      responses:
        "200":
          description: '|
             operation. The response is sorted by default with lastUpdateDate attribute.
                        <br/> The response can be sorted using the following attributes: [policyId, totalAmount, lastUpdateDate, requestDate, expiryDate, totalAmountCurrencyCode,
                        companyName, creditLimitEndDate, creditLimitIncreaseEndDate, gradePolicyCoverEndDate, gradeCoverEndDate]
                        <br/> The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 100.
                        <br/> The response is sorted as defined in the [API Guidelines Sorting].'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchCover'
        "206":
          description: 'Partial Content. The response is sorted by default with lastUpdateDate attribute.
                        <br/> The response can be sorted using the following attributes: [policyId, totalAmount, lastUpdateDate, requestDate, expiryDate, totalAmountCurrencyCode,
                        companyName, creditLimitEndDate, creditLimitIncreaseEndDate, gradePolicyCoverEndDate, gradeCoverEndDate]
                        <br/> The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 100.
                        <br/> The response is sorted as defined in the [API Guidelines Sorting].'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchCover'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
  /covers/{coverId}/{requestTypeCode}:
    delete:
      summary: >-
        Submit a coverId to cancel and return a jobId.
      description:
        You cannot cancel a cover if the attribute coverGroup.coverGroupRoleCode is "Joint".
      security:
        - ApiKeyAuth: []
      operationId: submitCoverDelete
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the jobId to get request status.
          content:
            application/json:
              schema:
                type: string
                example: "9f089dba-2f6e-44cc-939f-6fdf52e58b9a"
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: only for internal. Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: coverId
          in: path
          description: The cover identifier
          required: true
          schema:
            type: string
        - name: requestTypeCode
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/RequestTypeCode'
          description: >-
            Request type code:
              * `Primary` - Primary cover.
              * `Cap` - Top up cover compliant with a Primary cover greater than zero.
              * `CapPlus` - Top up cover compliant with a Primary and Cap cover equal to zero.
              * `GradePolicyCoverBasic` - Binary cover derived from the Buyer grade. Can have only two possible values Cover and NoCover as cover status.
              * `GradePolicyCoverDeluxe` - Cover derived from the Buyer grade and policy.
              * `GradeCover` - Cover in amount derived from the Buyer grade only.

              Values below concerns technical policies

              * `PreCheck` - Draft of a Primary cover valid until policy signature.
              * `PreCheckCap` - Draft of a Cap cover valid until policy signature.
              * `PreCheckCapPlus` - Draft of a Cap Plus cover valid until policy signature.
              * `PreCheckCapOrCapPlus` - Draft of a Cap or a Cap Plus cover valid until policy signature.
              * `PreCheckGradeCover` - Draft of a GradeCover cover valid until policy signature.
              * `PreCheckGradePolicyCoverBasic` - Draft of a GradePolicyCoverBasic cover valid until policy signature.
              * `PreCheckGradePolicyCoverDeluxe` - Draft of a GradePolicyCoverDeluxe cover valid until policy signature.
              * `CapOrCapPlus` - Can be a Cap or a CapPlus request.
        - name: Custom-Webhook
          in: header
          required: false
          description: The callback information to be stored by the server to call back the client when the response will be available. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header.</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.
          schema:
            $ref: "#/components/schemas/Webhook"
      tags:
        - covers
      callbacks:
        Cover:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Cover'
                        - $ref: '#/components/schemas/Error'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /covers/create:
    post:
      summary: >-
        Submit a cover request list and return a jobId list.
      security:
        - ApiKeyAuth: []
      operationId: submitCoverRequestBulk
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the list of job ids to get the status of
            this request.
          content:
            application/json:
              schema:
                type: array
                description: The list of Job ids
                items:
                  type: string
                  description: The jobId response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.cover_requests_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: Custom-Webhook
          in: header
          required: false
          description: 'The callback information to be stored by the server to call back the client when the response will be available. There are 2 types of notifications: technical and functional. The technical notification is sent when the job has been treated. The functional notification (extendedNotification) is optional (false by default) and sent when a decision has been taken. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.'
          schema:
            $ref: '#/components/schemas/ExtendedWebhook'
      requestBody:
        description: If a request comment is set, it will cause a pending response.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CoverRequestCoreInfoBulk'
        required: true
      tags:
        - bulks
      callbacks:
        Cover:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
                - name: Parent-Job-Id
                  in: header
                  required: true
                  description: The Parent-Job-Id allows the client to do a unique match with all requests done through a bulk endpoint.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Cover'
                        - $ref: '#/components/schemas/Error'
                        - $ref: '#/components/schemas/CoverRequest'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /covers/list:
    post:
      tags:
        - bulks
      summary: Return a list of Cover details
      operationId: getCoversExportBulk
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          required: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
      requestBody:
        description: CoverId array list.
        content:
          application/json:
            schema:
              type: array
              description: coverIds
              items:
                type: string
              minItems: 1
              uniqueItems: true
        required: true
      responses:
        '200':
          description: '|
             operation.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cover'
        '206':
          description: 'Partial Content.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cover'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
  /covers/update:
    post:
      summary: >-
        Submit a list of covers to update and return a jobId list.
      security:
        - ApiKeyAuth: []
      operationId: updateCoverBulk
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the list of job ids to get the status of
            this request.
          content:
            application/json:
              schema:
                type: array
                description: The list of Job ids
                items:
                  type: string
                  description: The jobId response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: only for internal. Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: Custom-Webhook
          in: header
          required: false
          description: The callback information to be stored by the server to call back the client when the response will be available. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header.</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.
          schema:
            $ref: '#/components/schemas/Webhook'
      requestBody:
        description: This object contains elements that can be modified and allows an amount reduction. You can patch either creditLimitAmount / customerCompanyReference or isStrategic. You cannot patch all of them at once due to a backend restriction.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CoverUpdateBulk'
        required: true
      tags:
        - bulks
      callbacks:
        Cover:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
                - name: Parent-Job-Id
                  in: header
                  required: true
                  description: The Parent-Job-Id allows the client to do a unique match with all requests done through a bulk endpoint.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Cover'
                        - $ref: '#/components/schemas/Error'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /covers/cancel:
    post:
      summary: >-
        Submit a coverId list to cancel and return a jobId list.
      security:
        - ApiKeyAuth: []
      operationId: submitCoverDeleteBulk
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the jobId list to get request status.
          content:
            application/json:
              schema:
                type: array
                description: Job Ids list.
                items:
                  type: string
                  example: "9f089dba-2f6e-44cc-939f-6fdf52e58b9a"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: only for internal. Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: Custom-Webhook
          in: header
          required: false
          description: The callback information to be stored by the server to call back the client when the response will be available. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header.</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.
          schema:
            $ref: "#/components/schemas/Webhook"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - requestTypeCode
                  - coverId
                properties:
                  requestTypeCode:
                    $ref: '#/components/schemas/RequestTypeCode'
                  coverId:
                    type: string
                    description: Original coverId that this CoverRequest was linked to.
        required: true
      tags:
        - bulks
      callbacks:
        Cover:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
                - name: Parent-Job-Id
                  in: header
                  required: true
                  description: The Parent-Job-Id allows the client to do a unique match with all requests done through a bulk endpoint.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Cover'
                        - $ref: '#/components/schemas/Error'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /coverRequests/{requestId}:
    get:
      tags:
        - cover requests
      summary: Get cover request details.
      operationId: getcoverrequest
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: requestId
          in: path
          description: The request identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
      responses:
        "200":
          description: |
             operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverRequest'
        "401":
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.cover_requests_function_name}/invocations'
    delete:
      summary: >-
        Submit a coverRequestId to cancel and return a jobId.
      description:
        You can only delete a coverRequest with the status `InProgress` or `AwaitingUserValidation`
      security:
        - ApiKeyAuth: []
      operationId: submitCoverRequestDelete
      x-um-actions: write_clr, write_dlr, write_gr, write_unnamedcover
      responses:
        '202':
          description: >-
            Request acknowledged. Use the jobId to get request status.
          content:
            application/json:
              schema:
                type: string
                description: The jobId response
                example: "9f089dba-2f6e-44cc-939f-6fdf52e58b9a"
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.cover_requests_function_name}/invocations'
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          description: Cross service Correlation Identifier
          in: header
          required: false
          schema:
            type: string
        - name: tracestate
          description: only for internal. Conveys additional vendor-specific trace identification information across different distributed tracing systems.
          in: header
          required: false
          schema:
            type: string
          example: 'EH0231=00f067aa0ba902b7,EH0302=t61rcWkgMzE'
        - name: requestId
          in: path
          description: The cover request identifier
          required: true
          schema:
            type: string
        - name: Custom-Webhook
          in: header
          required: false
          description: The callback information to be stored by the server to call back the client when the response will be available. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header.</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.
          schema:
            $ref: "#/components/schemas/Webhook"
      tags:
        - cover requests
      callbacks:
        Cover Request:
          '{$request.header.Custom-Webhook/callbackUrl}':
            post:
              parameters:
                - name: Job-Id
                  in: header
                  required: true
                  description: The Job-Id allows the client to match his request with this result sent on the call back URL.
                  schema:
                    type: string
              requestBody:   # Contents of the callback message
                description: The business object or the error sent back to the client.
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/CoverRequest'
                        - $ref: '#/components/schemas/Error'
              responses:
                "200":
                  description: Your request has been successfully taken into account by the receiver
                "4XX":
                  description: Bad request both in the body and in the header objects
                  content:
                    "*/*":
                      schema:
                        $ref: "#/components/schemas/Error"
                "5XX":
                  description: Technical error
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Error'
  /coverRequests/search:
    post:
      tags:
        - cover requests
      summary: Search for cover requests.
      operationId: searchcoverrequest
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCoverRequestCriteria'
        required: true
      responses:
        "200":
          description: '|
             operation. The response is sorted by default with creationDate attribute.
                        <br/> The response can be sorted using the following attributes: [requestedAmount, creationDate].
                        <br/> The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 100.
                        <br/> The response is sorted as defined in the [API Guidelines Sorting].'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoverRequest'
        "206":
          description: 'Partial Content. The response is sorted by default with creationDate attribute.
                        <br/> The response can be sorted using the following attributes: [requestedAmount, creationDate].
                        <br/> The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 100.
                        <br/> The response is sorted as defined in the [API Guidelines Sorting].'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoverRequest'
        "401":
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.cover_requests_function_name}/invocations'
  /coverRequests/list:
    post:
      tags:
        - bulks
      summary: Return a list of CoverRequest details
      operationId: getCoverRequestsExportBulk
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          required: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
      requestBody:
        description: RequestId array list.
        content:
          application/json:
            schema:
              description: requestIds
              type: array
              items:
                type: string
              minItems: 1
              uniqueItems: true
        required: true
      responses:
        '200':
          description: '|
             operation.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoverRequest'
        '206':
          description: 'Partial Content.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoverRequest'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.cover_requests_function_name}/invocations'
  /covers/{coverId}/history/{coverTypeCode}:
    get:
      tags:
        - covers
      summary: Get cover history details for a specific coverTypeCode.
      operationId: getCoversHistory
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          required: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user acts as another user. External users should not use this parameter in the header.
          in: header
          required: false
          schema:
            type: string
        - name: coverId
          in: path
          description: The cover identifier.
          required: true
          schema:
            type: string
        - name: coverTypeCode
          in: path
          description: |
            The cover type code on which the history will be returned.
             * `creditLimit`: A history of an aggregation of several creditLimits (primary, permanent, temporary, cap or cap plus) for a couple policy/buyer will be returned
             * `gradePolicyCoverBasic`: A history of gradePolicyCover will be returned
             * `gradePolicyCoverDeluxe`: A history of gradePolicyCover will be returned
             * `gradeCover`: A history of gradeCover will be returned
          required: true
          schema:
            $ref: '#/components/schemas/CoverHistoryTypeCode'
      responses:
        "200":
          description: |
             operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverHistory'
        "401":
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: User has not been granted access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_history_function_name}/invocations'
  /covers/isAlive:
    get:
      summary: Returns healthcheck information
      description: Returns healthcheck information for the current resource.
      security:
        - ApiKeyAuth: []
      operationId: coversEndPointHealthCheck
      responses:
        '200':
          description: Health check result code.
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    minLength: 2
                    maxLength: 7
                    enum:
                      - "OK"
                      - "WARNING"
                      - "DOWN"
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.covers_function_name}/invocations'
      tags:
        - covers
  /coverRequests/isAlive:
    get:
      summary: Returns healthcheck information
      description: Returns healthcheck information for the current resource.
      security:
        - ApiKeyAuth: []
      operationId: coverRequestsEndPointHealthCheck
      responses:
        '200':
          description: Health check result code.
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    minLength: 2
                    maxLength: 7
                    enum:
                      - "OK"
                      - "WARNING"
                      - "DOWN"
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.cover_requests_function_name}/invocations'
      tags:
        - cover requests
  /covers/pending/search:
    post:
      summary: Return all unitary pending jobs related to covers.
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          explode: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user act as another user.
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPendingCriteria'
        required: true
      security:
        - ApiKeyAuth: []
      operationId: getPendingCover
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      responses:
        "200":
          description: |
            Successful operation. The response is sorted by default with creationTimestamp attribute.\n
            The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 200.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingCover'
        "206":
          description: |
            Partial Content. The response is sorted by default with creationTimestamp attribute.\n
            The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 200.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingCover'
        '403':
          description: Access has not been granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.jobs_function_name}/invocations'
      tags:
        - covers
  /coverRequests/pending/search:
    post:
      summary: Return all unitary pending jobs related to coverRequests.
      parameters:
        - name: traceparent
          in: header
          description: Cross service Correlation Identifier
          explode: false
          schema:
            type: string
        - name: XX-Act-As
          description: Internal use only. Current user act as another user.
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPendingCriteria'
        required: true
      security:
        - ApiKeyAuth: []
      operationId: getPendingCoverRequest
      x-um-actions: read_clr, read_dlr, read_gr, read_unnamedcover
      responses:
        '200':
          description: |
             operation. The response is sorted by default with creationTimestamp attribute.\n
              The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 200.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingCoverRequest'
        '206':
          description: |
            Partial Content. The response is sorted by default with creationTimestamp attribute.\n
            The response is paginated as defined in the [API Guidelines Pagination]: By default, page size is 200.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingCoverRequest'
        '403':
          description: Access has not been granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User has not been authenticated, a valid token is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          headers:
            traceparent:
              description: Cross service Correlation Identifier
              schema:
                type: string
          description: Technical error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        credentials: '${apigw_role_arn}'
        uri: 'arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:$${stageVariables.jobs_function_name}/invocations'
      tags:
        - cover requests
components:
  schemas:
    Webhook:
      type: object
      description: The callback information to be stored by the server to call back the client when the response will be available. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.
      required:
        - callbackUrl
      properties:
        callbackUrl:
          type: string
          description: The https url on which the server is going to POST back results once it is ready
          format: uri
          pattern: "^https://"
          example: https://client_url.com/Webhook
        timeToLive:
          description: The maximum time, expressed in hours, for which server will retry results delivery with an exponential back off if Client is not joinable
          type: integer
          example : 24
          maximum: 72
    ExtendedWebhook:
      description: 'The callback information to be stored by the server to call back the client when the response will be available. There are 2 types of notifications: technical and functional. The technical notification is sent when the job has been treated. The functional notification (extendedNotification) is optional (false by default) and sent when a decision has been taken. This endpoint must be in <font color="red"><b>HTTPS</font></b><br><b>This object is stringified and base 64 encoded to be passed in the header</b>. External URLs must be provided to be whitelisted. The callback information provides the jobId to be matched with your request.'
      allOf:
        - $ref: '#/components/schemas/Webhook'
      type: object
      properties:
        extendedNotification:
          type: boolean
          description: Specify if the user wants to receive a functionnal notification.
          default: false
    Error:
      type: object
      description: Error message and related error detail(s) which caused the error to occur.
      required:
        - errorCode
        - debugId
        - message
      properties:
        errorType:
          type: string
          description: The error type. Indicates if the problem is within the user's request (a Functional Error) or if it is rather a Technical Error
        errorCode:
          type: string
          description: Unique error code for the error.
        errorDetails:
          type: array
          description: An array that contains individual instance(s) of the error
            with specifics such as the following. (Only for status code 4xx)
          items:
            $ref: '#/components/schemas/ErrorDetails'
        debugId:
          type: string
          description: A unique error identifier generated on the server-side and
            logged for correlation purposes.
        message:
          type: string
          description: Error message description.
    CoverDetailsFilters:
      type: object
      x-audience: MyEH
      properties:
        statusCodes:
          type: array
          description: Filter covers based on the statusCode of the different types of detailed covers.
          items:
            oneOf:
              - $ref: '#/components/schemas/CreditLimitCoverStatusCode'
              - $ref: '#/components/schemas/GradePolicyCoverCoverStatusCode'
              - $ref: '#/components/schemas/CoreCoverStatusCode'
          uniqueItems: true
        minStartDate:
          type: string
          description: To be used with maxStartDate to bound results. Format yyyy-MM-dd.
          format: date
        maxStartDate:
          type: string
          description: To be used with minStartDate to bound results. Format yyyy-MM-dd.
          format: date
        minEndDate:
          type: string
          description: To be used with maxEndDate to bound results. Format yyyy-MM-dd.
          format: date
        maxEndDate:
          type: string
          description: To be used with minEndDate to bound results. Format yyyy-MM-dd.
          format: date
        minRequestDate:
          type: string
          description: To be used with maxRequestDate to bound results. Format yyyy-MM-dd.
          format: date
        maxRequestDate:
          type: string
          description: To be used with minRequestDate to bound results. Format yyyy-MM-dd.
          format: date
        minLastUpdateDate:
          type: string
          description: To be used with maxLastUpdateDate to bound results. Format yyyy-MM-dd.
          format: date
        maxLastUpdateDate:
          type: string
          description: To be used with minLastUpdateDate to bound results. Format yyyy-MM-dd.
          format: date
        minResponseDate:
          type: string
          description: To be used with maxResponseDate to bound results. Format yyyy-MM-dd.
          format: date
        maxResponseDate:
          type: string
          description: To be used with minResponseDate to bound results. Format yyyy-MM-dd.
          format: date
      description: Object containing all the possible filters on CreditLimit, GradePolicyCover and GradeCover.
    CreditLimitPolicyHolderAlertDetailsFilters:
      type: object
      x-audience: MyEH
      properties:
        minGenerationDate:
          type: string
          description: To be used with maxGenerationDate to bound results. Format yyyy-MM-dd.
          format: date
        maxGenerationDate:
          type: string
          description: To be used with minGenerationDate to bound results. Format yyyy-MM-dd.
          format: date
        isActive:
          type: boolean
          description: Policy holder alert is active or not for CreditLimits
      description: Object containing all the possible filters on PolicyHolderAlert only for CreditLimits.
    Policy:
      required:
        - businessUnitCode
        - policyId
      type: object
      properties:
        businessUnitCode:
          maxLength: 4
          type: string
          description: Policy Business Unit Code.
        policyId:
          maxLength: 10
          type: string
          description: Policy identifier.
        extensionId:
          maxLength: 5
          type: string
          description: Extension identifier.
      description: Policy identifier for current cover. Should always be the primary
        cover's policy value for Cap & CapPlus cases.
    CoverGroup:
      type: object
      description: Cover Group.
      required:
        - coverGroupId
      properties:
        coverGroupId:
          type: string
          description: The cover group identifier
        coverGroupRoleCode:
          description: role of member for a given group, only 1 HeadGroup or 1 HeadKontor is defined per CoverGroup
          allOf:
            - $ref: '#/components/schemas/CoverGroupRoleCode'
    CoverRequest:
      required:
        - requestId
        - creationDate
      allOf:
        - $ref: '#/components/schemas/CoverRequestCoreInfo'
      type: object
      properties:
        coverId:
          type: string
          description: Original coverId that this CoverRequest was linked to.
        requestId:
          type: string
          description: The request identifier. First char is reserved for source definition.
        requestStatusTrackerCode:
          type: string
          description: tracking info related to the request.
          enum:
            - CountryNotCovered
            - BuyerResearch
            - InformationGathering
            - DecisionMaking
        requestStatusCode:
          type: string
          description: underwriting status of the request
          enum:
            - Answered
            - InProgress
            - Rejected
            - Cancelled
            - Abandoned
            - AwaitingUserValidation
            - Terminated
            - Undefined
        requestStatusMotiveCode:
          type: string
          description: underwriting motive describing the current status of the request.
          enum:
            - AmountTooLow
            - Appeal
            - AwaitingGrade
            - AwaitingInformationQuery
            - AwaitingInformationReport
            - AwaitingUserResponse
            - BuyerExplicitelyNotCapCovered
            - CompanyExplicitelyNotCovered
            - CompanyInactive
            - CompanyNotFound
            - CoverNotFound
            - CurrencyInconsitency
            - DuplicateRequest
            - ExistingCoverInconistency
            - FailedInformationQuery
            - FollowingPolicyTransfer
            - FollowingEndUserError
            - FollowingInsuredRequest
            - FollowingBrokerRequest
            - FollowingNewLimit
            - FollowingCancellation
            - FollowingCompanyError
            - IndividualNotCovered
            - InteractiveDialogAbandonByUser
            - InteractiveDialogFullConfirmedByUser
            - InteractiveDialogTemporaryAgreedByUser
            - LegalFormNotCovered
            - MassiveBatchCancellation
            - NonCoveredCountry
            - PolicySuspended
            - PolicyTerminated
            - PublicBuyerNotCovered
            - RefusedByUser
            - RequestImpossibleActiveLimit
            - RequestImpossibleBelowInForceLmit
            - RequestIRejectedReplacedByZeroLimit
            - RequestRejectedApplyForLimit
            - RequestRejectedReplacedByLimit
            - ReturnToInsured
            - SelfCoverForbidden
            - TermsOfPaymentInconsistent
            - TradeSectorNotCovered
            - Undefined
            - UserRights
        contactId:
          type: string
          description: The issuer of the request.
        creationDate:
          type: string
          description: Cover request creation date. Format yyyy-MM-dd.
          format: date
        creationTime:
          type: string
          description: Cover request creation time. Format HH:MM:SS.
          format: time
        companyName:
          type: string
          description: Buyer company name.
        lastUpdateDate:
          type: string
          description: Request last update date. Format yyyy-MM-dd.
          format: date
        lastUpdateTime:
          type: string
          description: Request last update time. Format HH:MM:SS.
          format: time
        rejectionReason:
          description: additional information that AZ Trade can give to a policy holder targeting a rejected request. Helps policy holder to craft a future correct request.
          allOf:
            - $ref: '#/components/schemas/RejectionReason'
        mediaDeliverySourceCode:
          type: string
          description: Media under which the request entered the cover system.
          enum:
            - Other
            - Upload
            - Email
            - FormerOnline
            - DirectLine
            - Fax
            - Phone
            - Mail
            - MyEH
            - SmartLink
            - ExternalPlatform
      description: Request made by an issuer asking a specific AZ Trade product for a defined cover.
    RejectionReason:
      type: object
      properties:
        isBuyerIdRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer id for his / her request to be processed.
        isBuyerNameRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer name for his / her request to be processed.
        isBuyerAddressRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer address for his / her request to be processed.
        isBuyerPhoneNumberRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer phone number for his / her request to be processed.
        isBuyerTradeSectorRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer trade sector for his / her request to be processed.
        isBuyerLegalFormRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer legal form for his / her request to be processed.
        isBuyerBankReferencesInfoRequired:
          type: boolean
          description: if defined, the policy holder has to fill the buyer bank references info for his / her request to be processed.
        comment:
          type: string
          description: free text to describe lacking info on buyer.
        matchingCompanyIds:
          type: array
          items:
            type: string
          description: possible matches found by AZ Trade for buyer identification.
      description: additional information that AZ Trade can give to a policy holder targeting a rejected request. Helps policy holder to craft a future correct request.
    CoverUpdate:
      type: object
      required:
        - requestTypeCode
      properties:
        requestTypeCode:
          description: Request type code
          allOf:
            - $ref: '#/components/schemas/RequestTypeCode'
        customerCompanyReference:
          maxLength: 20
          type: string
          description: Customer's internal reference on this buyer.
        isStrategic:
          type: boolean
          description: Cover is strategic or not for client.
        creditLimitAmount:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          description: an amount between 0 and current Amount (reduction)
        currentRenewalSituation:
          type: string
          description: current renewal status
          enum:
            - willNotBeRenewed
            - willBeRenewed
      description: Request made by an issuer asking to update a specific Cover.
    CoverUpdateBulk:
      type: object
      properties:
        coverId:
          type: string
          description: Original coverId that this CoverRequest was linked to.
      description: object containing the modifiable attributes of a cover
      allOf:
        - $ref: '#/components/schemas/CoverUpdate'
    CoverRequestCoreInfo:
      required:
        - requestTypeCode
        - policy
      type: object
      properties:
        requestTypeCode:
          description: Request Type Code
          allOf:
            - $ref: '#/components/schemas/RequestTypeCode'
        policy:
          description: Policy identifier.
          allOf:
            - $ref: '#/components/schemas/Policy'
        creditLimitDetails:
          description: Specifies the requested amount by the policy holder before the underwriting process (it only applies to creditLimits).
          allOf:
            - $ref: '#/components/schemas/CoverRequestDetails'
        companyId:
          type: string
          description: Buyer company identifier.
        unidentifiedCompany:
          description: main information about a company that that does not have an internal id (unidentified)
          allOf:
            - $ref: '#/components/schemas/UnidentifiedCompany'
        expiryDate:
          type: string
          description: Mandatory for temporary covers. Format yyyy-MM-dd.
          format: date
        isRequestUrgent:
          type: boolean
          description: May trigger an extra cost.
        requestDate:
          type: string
          description: Request creation date. Must be in the past or equal to the currentDate. Format yyyy-MM-dd.
          format: date
          writeOnly: true
        customerCompanyReference:
          maxLength: 20
          type: string
          description: Customer's internal reference on this buyer.
        comment:
          type: string
          description: Comment added to the request. Will trigger manual handling.
        brokerAppealCode:
          type: string
          description: In order to know if the request has been made with broker appeal
          enum:
            - With
            - Without
            - Undefined
      description: Request made by an issuer asking to create a Cover.
    CoverRequestCoreInfoBulk:
      required:
        - requestTypeCode
        - policy
      type: object
      properties:
        requestTypeCode:
          description: Request type code
          allOf:
            - $ref: '#/components/schemas/RequestTypeCode'
        policy:
          description: Policy identifier.
          allOf:
            - $ref: '#/components/schemas/Policy'
        companyId:
          type: string
          description: Buyer company identifier. this attribute takes precedence of companyIdentifier.
        companyIdentifier:
          description: identifies the company against ledger matching systems. Should be used instead of companyId if it's not known
          allOf:
            - $ref: '#/components/schemas/CompanyIdentifier'
        creditLimitDetails:
          description: Specifies the requested amount by the policy holder before the underwriting process (it only applies to creditLimits).
          allOf:
            - $ref: '#/components/schemas/CoverRequestDetails'
        expiryDate:
          type: string
          description: Mandatory for temporary covers. Format yyyy-MM-dd.
          format: date
        isRequestUrgent:
          type: boolean
          description: May trigger an extra cost.
        requestDate:
          type: string
          description: Request creation date. Must be in the past or equal to the currentDate. Format yyyy-MM-dd.
          format: date
          writeOnly: true
        customerCompanyReference:
          maxLength: 20
          type: string
          description: Customer's internal reference on this buyer.
        comment:
          type: string
          description: Comment added to the request. Will trigger manual handling.
        brokerAppealCode:
          type: string
          description: In order to know if the request has been made with broker appeal. This property is only available for privedged users
          enum:
            - With
            - Without
            - Undefined
      description: Request made by an issuer asking to create a specific Cover.
    CompanyIdentifier:
      type: object
      description: the object can be used to identify the company against ledger matching systems. Should be used instead of companyId if it's not known. See the following
        company Identifier Types on <a href="https://confluence.eulerhermes.com/pages/viewpage.action?pageId=48942921">[Reference
        Company Identifier API]</a>.
      properties:
        idTypeCode:
          type: string
          description: id that can be used to identify this company against ledger matching systems. Has to be used with idValue parameter.
          example: SIREN
        idValue:
          type: string
          description: value that can be used to identify this company against ledger matching systems. Has to be used with idTypeCode parameter.
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country Codes.
          x-code-table: https://api.allianz-trade.com/v1/countries
          example: FR
    CoverCoreInfo:
      required:
        - coverId
        - policy
      type: object
      properties:
        coverId:
          description: cover unique identifier
          type: string
        coverStatusCode:
          description: Cover status code
          allOf:
            - $ref: '#/components/schemas/CoverStatusCode'
        policy:
          description: Policy identifier.
          allOf:
            - $ref: '#/components/schemas/Policy'
        coverGroup:
          description: Cover Group.
          allOf:
            - $ref: '#/components/schemas/CoverGroup'
        startDate:
          type: string
          description: Decision effective start date. Format yyyy-MM-dd.
          format: date
          x-ref-resource: referential/Cover
        endDate:
          type: string
          description: Decision end date. Format yyyy-MM-dd.
          format: date
          x-ref-resource: referential/Cover
        responseDate:
          type: string
          description: Cover reponse date. Format yyyy-MM-dd.
          format: date
          x-ref-resource: referential/Cover
        companyId:
          type: string
          description: Buyer company identifier.
        totalAmount:
          type: integer
          description: |-
            <ul>
              <li>The aggregated total is the value of the decision amount of the primary + the decision amount of the temporary (if not expired, according the endDate)
            + CAP/CAP+ + GradePolicyCover amount</li>
              <li>If coexistence between creditLimit and gradeCover , only consider creditLimit amounts</li>
              <li>If various currencies, do not aggregate amounts</li>
            </ul>
          x-ref-resource: referential/Cover
        totalAmountCurrencyCode:
          type: string
          description: Total amount currency code.
          x-ref-resource: referential/Cover
          x-code-table: https://api.allianz-trade.com/v1/currencies
        customerCompanyReferences:
          type: array
          description: Company's Internal references in the insured customer system.
          items:
            type: string
          x-ref-resource: referential/Cover
        strategicCover:
          description: Client strategic flag (only applies to CreditLimit cover type)
          allOf:
            - $ref: '#/components/schemas/StrategicCover'
        pendingRequests:
          type: array
          description: Pending requests on policy/companyId couple.
          items:
            type: object
            properties:
              requestId:
                type: string
                description: The request identifier. First char is reserved for source definition.
      description: Common properties of the different types of covers.
    Cover:
      type: object
      allOf:
        - $ref: '#/components/schemas/CoverCoreInfo'
        - type: object
          properties:
            creditLimitsAggregation:
              description: Aggregation of several creditLimits (primary, permanent, temporary, cap or cap plus) for a couple policy/buyer
              allOf:
                - $ref: '#/components/schemas/CreditLimitsAggregation'
            gradePolicyCover:
              description: Detailed Information about the GradePolicyCover
              allOf:
                - $ref: '#/components/schemas/GradePolicyCover'
            gradeCover:
              description: Detailed Information about the DLR
              allOf:
                - $ref: '#/components/schemas/GradeCover'
      description: "Global cover which is the aggregation of several individual covers, for a policy holder on a Buyer (defined or unknown). Aggregation rules : https://confluence.eulerhermes.com/display/IAD/Cover+V3%3A+aggregation+rules"
    SearchCoverCriteria:
      type: object
      description: Contains all the search criteria / filters at the aggregated level
      properties:
        policies:
          type: array
          description: 'The user can set a list of policies on which to retrieve all pending requests'
          items:
            $ref: '#/components/schemas/Policy'
        coverTypeCodes:
          type: array
          description: Cover type
          items:
            $ref: '#/components/schemas/CoverTypeCode'
          uniqueItems: true
        coverSubTypeCodes:
          type: array
          description: Filter covers based on the cover type code
          items:
            $ref: '#/components/schemas/CoverSubTypeCode'
          uniqueItems: true
        coverStatusCodes:
          type: array
          description: Filter covers based on the coverStatusCode
          items:
            $ref: '#/components/schemas/CoverStatusCode'
          uniqueItems: true
        coverGroupRoleCodes:
          type: array
          description: Filter covers based on the coverGroupRoleCode
          items:
            $ref: '#/components/schemas/CoverGroupRoleCode'
        creditLimitFilters:
          allOf:
            - $ref: '#/components/schemas/CoverDetailsFilters'
            - properties:
                hasTemporaryIncrease:
                  type: boolean
                  description: Is valued to true if at least one of the Primary or the Top-up has a temporary with an amount > 0 and isExpired is false
                minIncreaseEndDate:
                  type: string
                  description: To be used with maxIncreaseEndDate to bound results. Format yyyy-MM-dd.
                  format: date
                maxIncreaseEndDate:
                  type: string
                  description: To be used with minIncreaseEndDate to bound results. Format yyyy-MM-dd.
                  format: date
                policyHolderAlertFilters:
                  x-audience: MyEH
                  description: Contains all possible filters on PolicyHolderAlert (only applies to CreditLimits)
                  allOf:
                    - $ref: '#/components/schemas/CreditLimitPolicyHolderAlertDetailsFilters'
          description: Object containing all the possible filters on CreditLimit.
        gradePolicyCoverFilters:
          description: Object containing all the possible filters on gradePolicy.
          allOf:
            - $ref: '#/components/schemas/CoverDetailsFilters'
            - properties:
                minResponseDate:
                  type: string
                  description: To be used with maxResponseDate to bound results. Format yyyy-MM-dd.
                  format: date
[...]
